@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-sm-6">
        <h2>LOCAL</h2>
        <div class="js-localTree__container">
            ClickMe
        </div>
    </div>
    
    <div class="col-sm-6">
        <h2>REMOTE</h2>
        <div class="js-remoteTree__container">
            ClickMe
        </div>
    </div>
</div>